:root {
  --light-green: #55a630;
  --sea-green: #2b9348;
  --white: #ffffff;
  --silver-sand: #c5c3c6;
  --outer-space: #46494c;
  --taupe-gray: #888888;
  --dark-gray: #aaaaaa;
  --flame: #d6542e;
  --apple: #55cc44;
  --spanish-gray: #9e9e9e;
}
