.item {
  position: relative;
  width: 400px;
  height: 141px;
  display: flex;
  background-color: #46494c;
  border-radius: 0.5rem;
  box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;
  cursor: pointer;
}

.itemThumb {
  width: 100%;
  height: 100%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0 1rem 1.5rem;
}

.itemInfo h2 {
  color: #c5c3c6;
  margin-bottom: 0.5rem;
  text-align: left;
}

.itemStatus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemStatusText {
  margin-left: 0.5rem;
  color: #c5c3c6;
}

.itemStatusIcon {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.itemStatusIconDead {
  background-color: #d6542e;
}

.itemStatusIconAlive {
  background-color: #55cc44;
}

.itemStatusIconUnknown {
  background-color: #9e9e9e;
}
