@import "./colors.module.css";

.success {
  background-color: var(--light-green);
  border: 1px solid var(--sea-green);
  width: calc(100% - 34px);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  margin-top: 3px;
  color: var(--white);
  font-weight: 600;
}

.close {
  cursor: pointer;
}
