.success {
  background-color: #9ef01a;
  border: 1px solid #70e000;
  width: calc(100% - 34px);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  margin-top: 3px;
}

.close {
  cursor: pointer;
}
